:root 
{
    --primary-bg-color: #000;
    --primary-font-color:#fff;
    --primary-b1:#f95150;
    --primary-b2:#1b3481;
    --primary-b3:#0B5345;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    font-family: 'poppins';
}
.main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap:50px;
    font-size: 50px;
}

.heading
{
    margin-top: 100px;
    font-weight: 600;
}

/* mode changer button */

.mode-change
{
    color:var(--primary-font-color);
    background-color: transparent;
    font-size: 25px;
    border: none;
    position: fixed;
    top:5%;
    right: 7%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

/* mode changer button */

.time
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    font-size: 40px;
    padding: 20px;
    min-width:49%;
    border: solid white 2px;
}

.millisecond, .second, .minute, .hour, .seperator
{
    min-width:7%;
}

.buttons
{
    display: flex;
    align-items: center;
    gap:40px;
}

button
{
    width:100px;
    height:40px;
    color:var(--primary-font-color);
    font-weight: 600;
    border:none;
    border-radius: 10px;
    transition:transform 0.1s ease;
}

button:hover
{
    transform: scale(1.1);
}

.start
{
    background-color:var(--primary-b1);
}

.stop 
{
    background-color:var(--primary-b1);
}

.split
{
    background-color:var(--primary-b2);
}

.reset
{
    background-color:var(--primary-b3) ;
}