:root 
{
    --primary-bg-color: #000;
    --primary-font-color:#fff;
    --primary-b1:#f95150;
    --primary-b2:#1b3481;
    --primary-b3:#0B5345;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    font-family: 'poppins';
}
.main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap:25px;
    margin-top: 70px;
}

/* mode changer button */

.mode-change
{
    color:var(--primary-font-color);
    background-color: transparent;
    font-size: 25px;
    border: none;
    position: fixed;
    top:5%;
    right: 7%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    
}

/* mode changer button */


/* timer section */

.heading
{
    font-weight: 700;
    font-size: 50px;
}

.time
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    font-size: 25px;
    padding: 20px;
    font-weight: 500;
    min-width: 280px;
}

.millisecond, .second, .minute, .hour, .seperator
{
    min-width: 40px;
}

/* timer section */


/* buttons */

.buttons
{
    display: flex;
    align-items: center;
    gap:40px;
}

button
{
    width:100px;
    height:40px;
    color:var(--primary-font-color);
    font-weight: 600;
    font-family: 'Poppins';
    border:none;
    border-radius: 10px;
    transition:transform 0.1s ease;
    font-family: 'poppins';
}

button:active
{
    transform: scale(1.1);
}

.start
{
    background-color:var(--primary-b1);
}

.stop
{
    background-color:var(--primary-b1);
}

.split
{
    background-color:var(--primary-b2);
    display: none ;
}

.reset
{
    background-color:var(--primary-b3) ;
    
}

/* buttons */



/* lap and split times */

.lap-split-times
{
    font-size: 15px;
    display: none;
    align-items: center;
    gap:100px;    
}

.right-part, .left-part
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;

}

.split-time, .lap-time
{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

/* lap and split times */



/* Media query */

@media(max-width:426px) 
{
    .heading
    {
        font-weight: 700;
        font-size: 35px;
    }
    .time
    {
        font-size: 20px;
        min-width: 210px;
    }

    .millisecond, .second, .minute, .hour, .seperator
    {
        min-width: 25px;
    }

    .buttons
    {
        gap:10px;
    }

    button
    {
        width:80px;
        height:40px;
    }
}

/* Media query */